.thead-dark{
    color: white;
    background-color: #002b5c;
    height: 40px;
    text-align: left;
}
.form-control{
    width: -webkit-fill-available;
    height: 30px;
    touch-action: pinch-zoom;
    border-color: #2d2dbf;
    margin: 8px 0 8px 0;
}
.table{
    width: -webkit-fill-available;
}